---
layout: base
---

{% include_cached components/post.html post=page no_link_title=true no_excerpt=true hide_image=page.hide_image hide_description=page.hide_description %}

<hr class="dingbat related" />

{% assign addons = page.addons | default:site.hydejack.post_addons %}
{% unless addons %}{% assign addons = "about,newsletter,related,random" | split:"," %}{% endunless %}
{% for addon in addons %}
  {% case addon %}
  {% when 'about' %}
     {% include_cached components/about.html author=page.author %}
  {% when 'newsletter' %}
    {% include if-non-null try="pro/newsletter.html" %}
  {% when 'related' %}
    {% include if-non-null try="pro/related-posts.html" fallback="components/related-posts.html" %}
  {% when 'random' %}
    {% include if-non-null try="pro/random-posts.html" %}
  {% when 'comments' %}
    {% include body/comments.html %}
  {% else %}
  {% endcase %}
{% endfor %}
